body{
    background: url("../img/background-img.png") no-repeat;
    background-size: cover;
}

.main-container {
    width: 1366px;
}
.container {
    text-align: center;
    width: 1064px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}


.header-logo {
    display: inline-block;
    float: left;
    margin: 25px 0;
}

.logo {
    text-decoration: none;
}
.img-logo {
    background-image: url("../img/logo@1X.png");
    display:block;
    float: left;
    height: 44px;
    width: 46px;
    margin-right: 10px;
}

.header-logo:hover .img-logo {
    background-image: url("../img/orange-logo.png");
}
.header-logo:hover .orange {
    color: #F26522;
}
.orange:hover{
    color: #F26522;
}

.first-name {
    display: inline-block;
    font-size: 29px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.second-name {
    font-size: 18px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
}

.header-contact-info{
    display: inline-block;
    float: right;
    margin-top: 29px;
    margin-right: 60px;
}

.email-address {
    font-size: 18px;
    color: #FFFFFF;
    text-align: right;
}

.phone {
    font-size: 18px;
    color: #FFFFFF;
    text-align: right;
}

.menu-tour {
    float: left;
    margin-right: 45px;
    margin-bottom: 30px;
}

.menu-tour:hover .menu-tour-title{
    color: #F26522;

}

.menu-tour-link {
    text-decoration: none;
    display: block;
}

.menu-tour-img {
    position: relative;
    height: 200px;
    overflow: hidden;
}

.menu-tour:hover .tour-price {
    transform: translateY(-50px);
}
.tour-price {
    position: absolute;
    bottom: -50px;
    width: 307px;
    height: 50px;
    background-color: #F26522;
    transition: 1s;
}


.details-group {
    padding: 10px 20px;
}

.price {
    position: relative;
    display: block;
    color: #FFFFFF;
    font-size: 18px;
    margin-top: 10px;
    float: left;
}
/*.price-from {*/
/*    display: block;*/
/*    color: #FFFFFF;*/
/*    font-size: 10px;*/
/*    !*margin-left: 40px;*!*/
/*    margin-top: 10px;*/
/*}*/

.price::before {
    content:"\20AC";
}
.price:after {
    content: 'From';
    position: absolute;
    left: 0;
    top: -10px;
    font-size: 10px;
}

.details {
    display: block;
    color: #FFFFFF;
    float: right;
    font-size: 14px;
    margin-top: 12px;
}
.details::after {
    content: "\003E";
    margin-left: 15px;
}

.menu-tour-content {
    text-align: center;
    margin-top: 10px;


}
.menu-tour-title {
    color: #FFFFFF;
    font-size: 18px;
    margin-bottom: 29px;
}
.footer {
    text-align: center;
    font-size: 12px;
    color: #FFFFFF;
    margin-top: 46px;
}
.footer::before{
    content: "\00A9";
}